:root {
  --red: #d6272b;
  --black: #000000;
  --white: #ffffff;
  --ubuntu: "Ubuntu Sans Mono", monospace;
  --inter: "Inter", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --mont: "Montserrat", sans-serif;
  --bai: "Bai Jamjuree", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  margin: 0;
}

.btn {
  width: 13rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  font-weight: 600;
}

.btn::before {
  width: 13rem;
  height: 8rem;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.subnav {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-family: var(--mont);
  font-weight: 700;
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

.subnav__branch {
  font-family: var(--bai);
}
.subnav__contact {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
  color: var(--white);
}
.subnav__contact a {
  text-decoration: none;
  color: black;
  color: var(--white);
}

.subnav__contact a:hover {
  text-decoration: underline;
}

.subnav__contact a i {
  margin-right: 1rem;
  font-size: 1.8rem;
}
.subnav__phone {
}
.subnav__messenger {
}

.subnav__zalo {
}

.subnav__img a {
  display: flex;
  align-items: center;
}

.subnav__zalo img {
  width: 2rem;
  padding-top: 0.4rem;
}

nav {
  position: fixed;
  z-index: 3;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: var(--mont);
  font-weight: 700;
  align-items: center;
  background-color: var(--red);
  color: var(--white);
  padding: 0rem 1rem 0rem 0.5rem;
}
.nav .nav__logo {
  max-width: 30%;
  height: auto;
  align-items: center;
}

.nav .nav__logo img {
  max-width: 100%;
}

.nav__content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__content a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--bai);
}

.nav__content a:hover {
  display: inline-block;
  text-decoration: underline;
}

button span {
  font-size: 1.2rem;
}

.jumbotron {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
  padding-top: 15vh;
}

.jumbotron__nav {
  background-image: url("./assets/background-banner-jumps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.jumbotron__title {
  font-family: var(--bebas);
  font-size: 3rem;
  color: white;
}

.jumbotron__nav-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.jumbotron__nav-link {
  display: flex;
  width: 80%;
  margin: 0.5rem auto;
  text-decoration: none;
}

a.jumbotron__nav-link .btn {
  width: 100%;
}

a.jumbotron__nav-link .btn:hover {
  background-color: white;
  color: black;
}

a.jumbotron__nav-link .btn span {
  font-family: var(--bai);
  font-weight: 700;
}

/* Slideshow container */
.jumbotron__slide-show {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.jumbotron__slide-element {
  display: block;
  width: 100%;
  height: 100%;
}

.jumbotron__slide-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  height: 100%;
  padding: 0 2rem;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.price__element {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/09/RX5-Exterior-1-1.png");
  background-position: center;
  height: 85vh;
  width: 100%;
  color: white;
  border-bottom: 20px solid var(--red);
}

.element-1 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/09/RX5-Exterior-1-1.png");
}

.element-2 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2024/02/MG-HS-Ngoai-that-4-Web.png");
}

.element-3 {
  background-image: 
    url("https://mgmotor.vn/wp-content/uploads/2023/09/4-7.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.element-4 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/08/3-1.jpg");
}

.element-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3g), rgba(0, 0, 0, 0.2)),
    url("https://mgmotor.vn/wp-content/uploads/2023/08/1-scaled.jpeg");
}

.price__element-param {
  font-family: var(--mont);
  width: 100%;
  /* background-color: rgb(0, 0, 0, 0.1); */
  /* height: 100%; */
  padding: 2rem 2rem 0 0rem;
}

.price__element-param a {
  display: block;
  color: var(--white);
  text-decoration: none;
  background-image: url("https://mgmotor.vn/wp-content/themes/mg-motor/assets/img/bg_tt_product.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
}

.price__element-param h2 {
  display: block;
  margin: 0 0 0 8rem;
  font-size: 2.3rem;
  color: black;
}

.price__element-param h3 {
  display: block;
  /* font-family: var(--inter); */
  font-size: 1.6rem;
  font-style: italic;
  /* border-top: 3px solid var(--red); */
  max-width: 70%;
  margin: 0 0 0 8rem;
  color: black;
}

a h3 span {
  color: red;
}

.price__element-param button {
  margin: 1rem 0 0 4rem;
}

.price__element-param a h3 span {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--red);
}

table {
  border-collapse: collapse;
  margin: 1rem 0 0 4rem;
}

td {
  padding: 8px;
  border: none;
  font-size: 1rem;
}

td:first-child {
  text-align: left;
  font-weight: 700;
  color: var(--white);
}

td:nth-child(2) {
  text-align: center;
  font-weight: 500;
}

td:last-child {
  text-align: left;
}

tr:nth-child(even) {
}

.element1 {
  background-color: var(--white);
  color: var(--black);
}

.price__element-img {
  width: 60%;
}

.price__element-img img {
  max-width: 100%;
}

.element1 img {
  transform: scale(1.2);
  max-width: 100%;
}

.element2 img {
  transform: scale(1.3);
  max-width: 100%;
  padding-left: 3rem;
}

.price__example .element-pic-1 {
  display: grid;
  grid-template-areas:
    "a a b b"
    "a a c d"
    "a a c e";
}

.element-pic-1 iframe {
  grid-area: a;
}

.element-pic-1 .price__example-img-1 {
  grid-area: b;
}
.element-pic-1 .price__example-img-2 {
  grid-area: c;
}
.element-pic-1 .price__example-img-3 {
  grid-area: d;
}
.element-pic-1 .price__example-img-4 {
  grid-area: e;
}

.element1 {
  background-color: var(--white);
  color: var(--black);
}

/* .element2,
.element4 {
  flex-direction: row-reverse;
  padding-left: 0;
} */

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
