:root {
  --red: #D6272B;
  --black: #000000;
  --white: #ffffff;
  --ubuntu: "Ubuntu Sans Mono", monospace;
  --inter: "Inter", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --mont: "Montserrat", sans-serif;
  --bai: "Bai Jamjuree", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  margin: 0;
  background-color: black;
}

.btn {
  width: 13rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  font-weight: 600;
}

.btn::before {
  width: 13rem;
  height: 8rem;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.btn .nav__btn {
  margin: 1rem 0;
}

.subnav {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-family: var(--mont);
  font-weight: 700;
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

.subnav__branch {
  font-family: var(--bai);
}
.subnav__contact {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
  color: var(--white);
}
.subnav__contact a {
  text-decoration: none;
  color: black;
  color: var(--white);
}

.subnav__contact a:hover {
  text-decoration: underline;
}

.subnav__contact a i {
  margin-right: 1rem;
  font-size: 1.8rem;
}
.subnav__phone {
}
.subnav__messenger {
}

.subnav__zalo {
}

.subnav__img a {
  display: flex;
  align-items: center;
}

.subnav__zalo img {
  width: 2rem;
  padding-top: 0.4rem;
}

nav {
  position: fixed;
  z-index: 3;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: var(--mont);
  font-weight: 700;
  align-items: center;
  background-color: var(--red);
  color: var(--white);
  padding: 0rem 1rem 0rem 0.5rem;
}
.nav .nav__logo {
  max-width: 30%;
  height: auto;
  align-items: center;
}

.nav .nav__logo img {
  max-width: 100%;
}

.nav__content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.btn-to-form {
  text-decoration: none;
}
.nav__content a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--bai);
}

.nav__content a:hover {
  display: inline-block;
  text-decoration: underline;
}

.nav__product {
  display: none;
  background-color: var(--white);
  /* position: fixed; */
  right: 0;
  left: 0;
  padding: 0 3rem;
  align-items: center;
  z-index: 100;
  /* top: 16vh; */
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
}

.nav__product a {
  text-decoration: none;
}

.nav__content-mobile {
  display: none;
}

.nav__product-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--red);
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  border: 3px solid var(--white);
}

.nav__product-element img {
  max-width: 200px;
  height: 100px;
}

.nav__product-element p {
  font-family: var(--bai);
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

.nav__product-element:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
}

.nav__logo-mobile {
  display: none;
}
/* .nav__products-btn:hover + .nav__product {
  display: flex;
} */

button span {
  font-size: 1.2rem;
}

.jumbotron {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
  padding-top: 16vh;
}

.jumbotron__nav {
  background-image: url("./assets/background-banner-jumps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0 0 0;
}

.jumbotron__title {
  font-family: var(--bebas);
  font-size: 3rem;
  color: white;
  margin: 1rem 0 0 0;
}

.jumbotron__nav-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.jumbotron__nav-link {
  display: flex;
  width: 80%;
  margin: 0.5rem auto;
  text-decoration: none;
}

a.jumbotron__nav-link .btn {
  width: 100%;
}

a.jumbotron__nav-link .btn:hover {
  background-color: white;
  color: black;
}

a.jumbotron__nav-link .btn span {
  font-family: var(--bai);
  font-weight: 700;
}

/* Slideshow container */
.jumbotron__slide-show {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.jumbotron__slide-element {
  display: block;
  width: 100%;
  height: 100%;
}

.jumbotron__slide-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  height: 100%;
  padding: 0 2rem;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.price {
  width: 90%;
  margin: 2rem auto 0;
  padding-top: 1rem;
}

.price__element {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/09/RX5-Exterior-1-1.png");
  background-position: center;
  height: 85vh;
  width: 100%;
  color: white;
  border-bottom: 20px solid var(--red);
}

.element-1 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/09/RX5-Exterior-1-1.png");
  border-top: 20px solid var(--red);
}

.element-2 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2024/02/MG-HS-Ngoai-that-4-Web.png");
}

.element-3 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/09/4-7.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.element-4 {
  background-image: url("https://mgmotor.vn/wp-content/uploads/2023/08/3-1.jpg");
}

.element-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://mgmotor.vn/wp-content/uploads/2023/08/1-scaled.jpeg");
  border-bottom: none;
}

.price__element-param {
  font-family: var(--mont);
  width: 100%;
  /* background-color: rgb(0, 0, 0, 0.1); */
  /* height: 100%; */
  padding: 2rem 2rem 0 0rem;
}

.price__element-param a {
  display: block;
  color: var(--white);
  text-decoration: none;
  background-image: url("https://mgmotor.vn/wp-content/themes/mg-motor/assets/img/bg_tt_product.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
}

.price__element-param a.btn-to-form {
  background-image: none;
}

.price__element-param h2 {
  display: block;
  margin: 0 0 0 8rem;
  font-size: 2.3rem;
  color: black;
}

.price__element-param h3 {
  display: block;
  font-size: 1.6rem;
  font-style: italic;
  max-width: 70%;
  margin: 0 0 0 8rem;
  color: black;
}

a h3 span {
  color: red;
}

.price__element-param button {
  margin: 1rem 0 0 4rem;
}

.price__element-param a h3 span {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--red);
}

table {
  border-collapse: collapse;
  margin: 1rem 0 0 4rem;
}

td {
  padding: 8px;
  border: none;
  font-size: 1rem;
}

td:first-child {
  text-align: left;
  font-weight: 700;
  color: var(--white);
}

td:nth-child(2) {
  text-align: center;
  font-weight: 500;
}

td:last-child {
  text-align: left;
}

tr:nth-child(even) {
}

.element1 {
  background-color: var(--white);
  color: var(--black);
}

.price__element-img {
  width: 60%;
}

.price__element-img img {
  max-width: 100%;
}

.element1 img {
  transform: scale(1.2);
  max-width: 100%;
}

.element2 img {
  transform: scale(1.3);
  max-width: 100%;
  padding-left: 3rem;
}

.price__example .element-pic-1 {
  display: grid;
  grid-template-areas:
    "a a b b"
    "a a c d"
    "a a c e";
}

.element-pic-1 iframe {
  grid-area: a;
}

.element-pic-1 .price__example-img-1 {
  grid-area: b;
}
.element-pic-1 .price__example-img-2 {
  grid-area: c;
}
.element-pic-1 .price__example-img-3 {
  grid-area: d;
}
.element-pic-1 .price__example-img-4 {
  grid-area: e;
}

.element1 {
  background-color: var(--white);
  color: var(--black);
}

/* .element2,
.element4 {
  flex-direction: row-reverse;
  padding-left: 0;
} */

.qualification {
  background-color: var(--red);
  padding: 3rem 6rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.qualification h3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--bai);
  margin: 0;
  color: var(--white);
  text-align: center;
}

#news .news__title {
  color: white;
  font-size: 2.5rem;
  margin: 3rem auto 1rem 3rem;
  font-family: var(--mont);
}
.news {
  margin: 1.5rem auto 4rem;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem 3rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
  font-family: var(--bai);
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.news-card__post-date {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }

  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .news-card:hover .news-card__title {
    color: yellow;
  }

  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
  font-size: 1rem;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: yellow;
}

#accordion {
  width: 50%;
  margin: 0 auto;
  padding: 0 1rem;
}
.accordion {
  margin: 1rem 0;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  align-items: center;
  transition: 0.4;
  border-radius: 10px;
  font-family: "Bai Jamjuree", sans-serif;
}

#accordion h2 {
  color: white;
  font-size: 2.5rem;
  margin: 3rem auto 1rem 0rem;
  font-family: var(--mont);
}

.active,
.accordion:hover {
  background-color: var(--red);
  color: #fff;
}

.accordion__panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Bai Jamjuree", sans-serif;
  border-radius: 10px;
}

.accordion span {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 10px;
  margin-right: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.accordion__panel h2 {
  font-size: 2rem;
  color: red;
  margin: 0.8rem 0 0.5rem 0;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
}

.accordion__panel em {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: justify;
}

.accordion__panel p {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0 0 0 1.5rem;
  border-left: 1px solid black;
  line-height: 1.5;
  font-family: "Bai Jamjuree", sans-serif;
  color: black;
}

.accordion__panel h3 {
  font-size: 1.5rem;
  color: red;
  margin: 0.8rem 0 0.5rem 0;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
}

.validate {
  display: flex;
  padding: 0 0 4.5rem 0;
  border-top: 5px solid white;
}

form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  color: var(--white);
  padding: 0 4rem;
  font-family: var(--mont);
}

form h2 {
  color: white;
  font-size: 2.5rem;
  margin: 3rem auto 1rem 0rem;
  font-family: var(--mont);
}
form p {
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
}
form label {
  font-size: 1rem;
  margin: 0rem 0 0.3rem 0;
}

form input {
  font-size: 1.5rem;
  padding: 0.8rem 0 0.8rem 0.5rem;
  width: 90%;
  margin: 0.5rem 0 0.5rem 0;
}

form label[for="phone"] {
  margin: 0.3rem 0 0.3rem 0;
}

form .btn {
  background-color: var(--red);
  color: var(--white);
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
}

/* form button {
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
} */

.showroom-list {
  background-color: var(--white);
  color: var(--black);
  padding: 2rem 2rem;
  font-family: var(--mont);
}

.showroom-list h2 {
  color: black;
  font-size: 2.5rem;
  margin: 1.5rem auto 1rem 0rem;
}

.showroom-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 0 3rem;
}

.showroom-list__list a {
  display: inline-block;
  width: 70%;
  margin: 0.5rem auto;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  max-width: 80%;
}

.showroom-list__list a:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.2s ease-in-out;
  border: var(--red);
}

.showroom-list h3 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  color: red;
}

.footer {
  background-color: var(--red);
  font-family: var(--bai);
  color: var(--white);
  padding: 2rem 2rem;
  display: flex;
}
.footer__logo {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.footer__logo img {
  width: 60%;
}

.footer__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__text h2 {
  font-size: 2rem;
}

.footer a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
}

.footer a i {
  margin-right: 0.5rem;
}

.jumbotron__mobile {
  display: none;
}

#functional-footer {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.price-mobile,
.nav__mobile {
  display: none;
}

@media only screen and (max-width: 1076px) {
  .nav {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }

  .price__element-param a {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .jumbotron__title {
    text-align: center;
  }

  .jumbotron {
    display: flex;
  }

  .jumbotron__nav {
    display: none;
  }

  .price {
    width: 100%;
  }

  .showroom-list__list a {
    width: 80%;
  }
}

@media only screen and (max-width: 920px) {
  #nav__mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 10;
    background-color: var(--red);
    color: #fff;
    top: 0;
    width: 100%;
    padding: 10% 0 50% 10%;
    left: -100%; /* Start offscreen */
    transition: left 0.3s ease-in-out;
  }

  .showroom-list__list a {
    width: 100%;
  }

  #nav__mobile.open {
    left: 0; /* Move to screen */
  }

  #nav__mobile.close {
    left: -100%; /* Move to screen */
  }

  button#exit-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5% 5% 0 0;
    z-index: 4;
    font-size: 5rem;
    padding: 0;
    border: none;
    border-radius: 10px;
  }

  button#exit-btn i {
    background-color: #fff;
    border: none;
    padding: 0.5rem 0.5rem;
  }

  .nav__content-mobile a {
    display: inline-block;
    color: #eee;
    font-size: 2.8rem;
    font-weight: 600;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 1.5rem 0 0 2rem;
    text-decoration: none;
  }
  .nav__content-mobile {
    overflow-y: auto; /* Cho phép cuộn dọc */
    max-height: 100vh; /* Giới hạn chiều cao tối đa */
  }

  .dropdown-btn {
    position: relative;
  }

  .dropdown-content-mobile {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .dropdown-content-mobile a {
    padding: 0.5rem 1rem;
    margin: 0.5rem 2rem;
    background-color: var(--black);
    color: var(--white);
  }

  .dropdown-content-mobile a:active {
    text-decoration: underline;
  }

  /* CSS để hiển thị dropdown khi active */
  .active-dropdown {
    max-height: 500px; /* Giá trị này có thể thay đổi tùy vào nội dung */
  }
  .jumbotron {
    padding: 0;
  }
  .subnav,
  .nav__content,
  .nav__product {
    display: none;
  }

  .nav {
    padding: 0;
    width: 100%;
  }

  .nav a {
    display: inline-block;
  }

  .nav a img {
    height: 100%;
  }

  .nav button {
    padding: 1rem;
    margin: 0;
    height: 100%;
    font-size: 2rem;
    background-color: var(--red);
    border: none;
    color: var(--white);
  }

  .nav a {
    color: var(--white);
    text-decoration: none;
    margin-right: 3rem;
  }

  .nav a i {
    margin-right: 0.5rem;
  }

  .nav__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: none;
  }

  .price-mobile {
    display: block;
    max-width: 100%;
  }

  .price-mobile img {
    max-width: 100%;
  }

  .price__mobile-element {
    border-bottom: 5px solid var(--red);
    padding: 0 1rem;
  }

  .price__mobile-element img {
    width: 100%;
    transform: scale(1);
    margin: 1rem 0 0rem 5rem;
  }

  .car-name {
    color: white;
    font-size: 2rem;
    font-family: var(--bai);
    text-align: center;
    margin: 0;
  }

  .car-price {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: var(--bai);
    margin: 1rem 0;
  }

  .car-price span {
    color: red;
    display: block;
  }

  .even-element h2 {
    color: black;
  }

  table {
    color: white;
    font-family: var(--bai);
    margin: 0 auto;
  }

  .price__mobile-element button {
    background-color: var(--white);
    color: var(--black);
    margin: 1rem auto;
  }

  .even-element {
    background-color: var(--white);
    color: var(--black);
  }

  .even-element table td {
    color: var(--black);
  }

  .even-element button {
    background-color: var(--black);
    color: var(--white);
  }
  .mghs {
    width: 100%;
  }

  .mgrx5 {
  }

  .mgrx5 img {
    max-width: 100%;
    transform: scale(1);
    margin: 0;
  }

  .mghs img {
    margin: 2rem 0rem 2rem 5rem;
    width: 80%;
    transform: scale(1);
  }

  .mgnewmg5 img {
    margin: 0;
    transform: scale(0.8);
  }

  .mg5 img {
    margin: 0;
  }

  .mgzs img {
    margin: 2rem 0 0 0;
  }
  .qualification {
    padding: 3rem 3rem;
  }

  .validate {
    flex-direction: column;
  }

  #accordion {
    width: 100%;
  }

  form {
    width: 100%;
  }

  #functional-footer {
    z-index: 30;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    background-color: var(--red);
    border-top: 3px solid var(--white);
  }

  a.functional-footer__element {
    color: #eee;
  }

  .functional-footer__element i {
    font-size: 1.8rem;
    background-color: var(--red);
  }

  .functional-footer__element img {
    width: 2rem;
  }

  .footer {
    margin-bottom: 6.4rem;
  }
}

@media only screen and (max-width: 780px) {
  form {
    padding: 1rem 0.5rem 1rem 1rem;
  }

  form input {
    width: 100%;
  }

  form p {
    font-size: 1rem;
  }
  #accordion {
    padding: 0 1rem;
  }
  .accordion {
    padding: 1.8rem 0.8rem;
  }

  .accordion span {
    margin-right: 0.5rem;
  }
  .showroom-list__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__logo {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding-right: 3rem;
  }

  .jumbotron {
    display: none;
  }

  .jumbotron__mobile {
    display: block;
    position: relative;
  }

  .jumbotron__mobile video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .jumbotron__mobile h2 {
    position: absolute;
    z-index: 20;
    color: white;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  .nav .nav__logo img {
    transform: scale(1.5);
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav .nav__logo img {
    transform: scale(2);
    margin-left: 3rem;
  }

  .subnav__branch-title {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #nav__mobile {
    padding: 30% 0 50% 10%;
  }
  .car-price {
    font-size: 1.8rem;
  }
  .price____mobile-element-img {
    padding-left: 0rem;
  }

  .mghs .price____mobile-element-img {
    padding-left: 2rem;
  }
  .mghs img {
    margin: 3rem 0;
  }

  .mgnewmg5 div {
    padding: 0;
  }

  .mgnewmg5 div img {
    transform: scale(0.9);
  }

  .qualification {
    flex-direction: column;
  }
  .qualification h3 {
    font-size: 1.5rem;
  }
  .nav .nav__logo img {
    transform: scale(2);
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .nav {
    height: 8vh;
  }

  .nav__logo-mobile {
    max-height: 80%;
  }

  .nav .nav__logo img {
    transform: scale(3.5);
    margin-left: 5rem;
    max-height: 100%;
  }

  /* .nav__logo {
    display: none;
  } */

  .nav__logo-mobile {
    display: block;
    height: 100%;
  }

  .nav__logo-mobile img {
    max-height: 100%;
  }

  .nav__mobile a {
    display: none;
  }
  .nav__content-mobile a {
    font-size: 2rem;
  }
  button#exit-btn i {
    font-size: 2rem;
    padding: 1rem;
  }

  button#exit-btn {
    margin: 5% 5%;
    font-size: 0;
  }

  .qualification h3 {
    font-size: 1.3rem;
  }

  .footer__logo img {
    transform: scale(2);
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  #news .news__title {
    font-size: 2rem;
  }

  #accordion h2 {
    font-size: 1.8rem;
  }

  form h2 {
    font-size: 1.5rem;
  }
}

#scroll-to-top-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 2rem 10rem 0;
  padding: 0;
  display: flex;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  border: 2px solid var(--red);
}

#scroll-to-top-btn div {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--red);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  border: none;
}

#scroll-to-top-btn div i {
  display: flex;
  font-size: 1.8rem;
}

#scroll-to-top-btn div:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--white);
}
