.nav__product {
  display: none;
  background-color: var(--white);
  position: fixed;
  right: 0;
  left: 0;
  padding: 0 3rem;
  align-items: center;
  z-index: 20;
}

.nav__product-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--red);
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  border: 3px solid var(--white);
}

.nav__product-element img {
  max-width: 200px;
  height: 100px;
}

.nav__product-element p {
  font-family: var(--bai);
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

.nav__product-element:hover {
  border: 3px solid var(--red);
  transition: all 0.2s ease-in-out;
}

.nav__products-btn:hover + .nav__product { 
  display: flex;
}